#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
  color: #2c3e50;
  background-color: #F2DBAE;
}

#app #basket{
  text-align: right;
  margin-right: 50px;

  font-weight: bold;
  text-decoration: underline;
  color: #644946;
}

#app article{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;

  border: 2px solid #BF3B3B;
  border-radius: 10px;
  background-color: #F2B66D;
}

#app article .btnDelete{
  height: 25px;
  align-self: center;

  border: none;
  color: #D93030;
  background-color: transparent;
}

#app article .btnAddBasket,
#app .btnAddArticle{
  font-size: 1.1rem;

  border: 1px solid #D93030;
  border-radius: 5px;;
  color: #F2DBAE;
  background-color: #BF3B3B;
}

#app .btnAddArticle{
  font-size: 1rem;
}

#app article .hide{
  display: none;
}

#app article h3{
  width: 90%;
  font-size: 1.2rem;

  color: #D93030;
}

#app .btnPrice{
  margin-left: 10px;
}

#app #form label, #app #form input{
  margin-right: 10px;
}